@font-face {
	font-family: 'Lato';
	src: url("/fonts/Lato/Lato-Regular.tff")
}

body {
	margin: 0;
}
h1 {
	text-align: center;
	background: rgb(165, 28, 51);
	color: white;
	margin: 0;
	padding: 0.25em 0;
}

/* Navigation */
nav {
    top: 0;
	display: block;
	font-family: "Lato", sans-serif;
}
#metadata {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 0.2em 0;
	background: black;
	color: white;
}
#metadata div {
	flex-grow: 1;
	text-align: center;
}

/* Content */
#controls {
	padding: 10%;
	text-align: center;
}
#controls button {
    -webkit-appearance: none;
    font-size: 1.2em;
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	text-transform: capitalize;
}
